<?xml version="1.0"?>
<configuration>




  <connectionStrings>
    <add name="enapConnectionString" connectionString="Data Source=ALVAREZ-PC\SQLEXPRESS;Initial Catalog=enap;Integrated Security=True"
      providerName="System.Data.SqlClient" />
   <!-- <add name="enap_v1ConnectionString" connectionString="Data Source=ESTEBAN-HP\SQLEXPRESS;Initial Catalog=enap_v3;Integrated Security=True"
      providerName="System.Data.SqlClient" />-->
    <add name="enap_v1ConnectionString" connectionString="Data Source=ALVAREZ-PC\SQLEXPRESS;Initial Catalog=enap_v3;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="ldapConnectionString" connectionString="LDAP://192.168.56.101/dc=ENAP"/>
  </connectionStrings>
  
  <system.web>
    <authentication mode="None"/>
    <compilation debug="true" targetFramework="4.0" />

    <urlMappings>
      <add url="~/js/tree-data.json" mappedUrl="~/js/tree-data.aspx"/>
      <add url="~/app/view/ui/BuscaMatrizRiesgo.js" mappedUrl="~/app/aspx/view/ui/BuscaMatrizRiesgo.aspx"/>
    </urlMappings>
  </system.web>

  <system.webServer>

    <modules  runAllManagedModulesForAllRequests="true">
      <add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </modules>
  </system.webServer>
  
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
    <standardEndpoints>
      <webHttpEndpoint>
        <!-- 
            Configure the WCF REST service base address via the global.asax.cs file and the default endpoint 
            via the attributes on the <standardEndpoint> element below
        -->
        <standardEndpoint name="" crossDomainScriptAccessEnabled="true" helpEnabled="true" defaultOutgoingResponseFormat="Json" automaticFormatSelectionEnabled="false"/>
      </webHttpEndpoint>
    </standardEndpoints>
  </system.serviceModel>

</configuration>
