* {
       color: #000;
}

body {
       background: #fff;
}

a:link, a:visited {
       color: #000;
}

#choose-site, #header, #nav, #search, #col-left, #footer {
       display: none;
}

#content {
       padding: 0 23px;
       line-height: 14px;
}